GOOGLE_API_KEY=chavellm_API_api_aqui
AZURE_ORG_URL=https://dev.azure.com/SuaOrganizacao
AZURE_PAT=seu_token_azure_key_aqui
AZURE_PROJECT=SeuProjeto
AZURE_AREA_PATH=SeuProjeto\\SuaAreaPath
PRODUTO_NOME=SeuProjeto\\nome do produto